{% trans_default_domain 'FOSUserBundle' %}


{% if error %}
<div class="alert alert-danger">
{{ error.messageKey|trans(error.messageData, 'security') }}    
</div>
{% endif %}

	<!-- Signup Start -->
	<div class="sign_in_up_bg">
		<div class="container">

		{% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="flash-{{ type }}">
                        <div class="alert alert-success">
                             {{ message }}
                        </div>                    
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}
			<div class="row justify-content-lg-center justify-content-md-center">
				<div class="col-lg-12">
					<div class="main_logo25" id="logo">
					<a href="{{path('home')}}"><img src="{{asset('asset/img/images/logo/07.png')}}" alt=""></a>
					<a href="{{path('home')}}"><img class="logo-inverse" src="{{asset('asset/img/images/logo/07.png')}}" alt=""></a>					</div>
				</div>
			
				<div class="col-lg-6 col-md-8">
					<div class="sign_form">
						<h2>Bienvenue psc</h2>
						<p>Connectez-vous à votre compte Psc</p>
                        <form action="{{ path("fos_user_security_check") }}" method="post">
                            {% if csrf_token %}
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                            {% endif %}							
                            <div class="ui search focus mt-15">
                                    <div class="ui left icon input swdh95">
                                    <input type="text" class="prompt srch_explore" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" />
									<i class="uil uil-envelope icon icon2"></i>
                                    
								</div>
							</div>
							<div class="ui search focus mt-15">
								<div class="ui left icon input swdh95">
                                    <input class="prompt srch_explore" type="password" id="password" name="_password" required="required" autocomplete="current-password" />
								    <i class="uil uil-key-skeleton-alt icon icon2"></i>
								</div>
							</div>
							<div class="ui form mt-30 checkbox_sign">
								<div class="inline field">
								</div>
							</div>
                            <input class="login-btn" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />

						</form>
						                                

						<p class="sgntrm145">Ou <a href="{{ path('fos_user_resetting_request') }}">{{ 'security.login.Forgot_your_password'|trans }}</a>.</p>
						<p class="mb-0 mt-30 hvsng145">Vous n'avez pas de compte? <a href="{{ path('fos_user_registration_register') }}">S'inscrire</a></p>
					</div>
					<div class="sign_footer"><img src="images/sign_logo.png" alt="">© 2020 <strong>psc</strong>. Tous les droits sont réservés.</div>
				</div>				
			</div>				
		</div>				
	</div>