{% extends '@EasyAdmin/default/layout.html.twig' %}



{% block content_title %}
    {% apply spaceless %}
        {% set _default_title = 'histoire' %}
        {{ _entity_config.new.title is defined ? _entity_config.new.title|trans(_trans_parameters) : _default_title }}
    {% endapply %}
{% endblock %}

    {% block main %}

<style>
.bt {
    /* box-shadow: 0 0 0 1px rgba(43,45,80,.1), 0 2px 5px 0 rgba(43,45,80,.08), 0 1px 1.5px 0 rgba(0,0,0,.07), 0 1px 2px 0 rgba(0,0,0,.08); */
    cursor: pointer;
    text-decoration: none;
    white-space: nowrap;
}
.bt {
    display: inline-block;
    font-weight: 400;
    color: #4c5367;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 0 solid transparent;
    padding: 4px 10px;
    font-size: .875rem;
    line-height: 1.6;
    border-radius: var(--border-radius);
    transition: all .08s ease-in;
}


.content-body form {
     background: none;
     padding: 0px; 
}
</style>



<table class="table datagrid">
        <thead>
        {% block table_head %}
            <tr>
                <th style="text-align: center;"> n°</th>
                <th style="text-align: center;"> Langue </th>
                <th style="text-align: center;"> mantent</th>
                <th style="text-align: center;"> Remarque</th>
                <th style="text-align: center;"> date paiement</th>                
                <th style="text-align: center;"></th>                

            </tr>
        {% endblock table_head %}
        </thead>

        <tbody>
        {% block table_body %}

            {% for pay in paiements %}
                <tr>
                    <td style="text-align: center;"> {{pay.id}}</td>
                    <td style="text-align: center;">
                        {% for Langue in pay.Langue %}
                            {{Langue.langue}}
                        {% endfor %}
                    </td>
                    <td style="text-align: center;"> {{pay.mantent}}</td>
                    <td style="text-align: center;"> 
                        {% if pay.Remarque == '' %} 
                                {{"1"}}
                        {% else %}
                            {{pay.Remarque}} 
                        {% endif %}
                    </td>
                    <td style="text-align: center;"> {{pay.date_paiement|date("m/d/Y")}}</td>
                    
                    <td style="display: flex;text-align: center;"><a href="{{ path('paiement_edit', {'id': paiement}) }}" style="margin-top: 4px;"><i class="fas fa-pencil-alt"></i></a>
                    {{ include('paiement/delete_form.html.twig') }}
                    </td>               
                </tr>
            {% endfor %}

        {% endblock table_body %}
        </tbody>
    </table>
                    

    {% endblock %}


{% block body_javascript %}
    {{ parent() }}



{% endblock %}
